module top;
reg s1,s2,s3,clock,clear,load,count;
wire timeup, r1,y1,g1,r2,y2,g2,r3,y3,g3;
parameter true =1'b1;
parameter false=1'b0;
parameter clock_width=clock_cycle/2;


traffic lights tfl(south_to_north, west_to_east, s1,s2,s3, clock, count,load,value,timeup,r1,y1,g1,r2,y2,g2,r3,y3,g3);
initial 
begin
$display("                           timeup,r1,y1,g1,r2,y2,g2,r3,y3,g3\n");
$monitor($time, "%b, %b,%b,%b, %b,%b,%b, %b,%b",r1,y1,g1,r2,y2,g2,r3,y3,g3);
end

//clock

initial
begin
clock=false;
forever #clock_width=~clock;
end

initial
begin
clear= true;
repeat (idle_clocks) @(negedge clock);
clear=false;
end
repeat(9) @(negedge clock); {count,load,s1,s2,s3}= 7'b00000;
repeat(9) @(negedge clock); {count,load,s1,s2,s3}= 7'b00001;
repeat(9) @(negedge clock); {count,load,s1,s2,s3}= 7'b00010;
repeat(9) @(negedge clock); {count,load,s1,s2,s3}= 7'b00011;
repeat(9) @(negedge clock); {count,load,s1,s2,s3}= 7'b00100;
repeat(9) @(negedge clock); {count,load,s1,s2,s3}= 7'b00101;
repeat(9) @(negedge clock); {count,load,s1,s2,s3}= 7'b00110;
repeat(9) @(negedge clock); {count,load,s1,s2,s3}= 7'b00111;
repeat(9) @(negedge clock); {count,load,s1,s2,s3}= 7'b01000;
repeat(9) @(negedge clock); {count,load,s1,s2,s3}= 7'b01001;
repeat(9) @(negedge clock); {count,load,s1,s2,s3}= 7'b01010;
repeat(9) @(negedge clock); {count,load,s1,s2,s3}= 7'b01011;
repeat(9) @(negedge clock); {count,load,s1,s2,s3}= 7'b01100;
repeat(9) @(negedge clock); {count,load,s1,s2,s3}= 7'b01101;
repeat(9) @(negedge clock); {count,load,s1,s2,s3}= 7'b01110;
repeat(9) @(negedge clock); {count,load,s1,s2,s3}= 7'b01111;
repeat(9) @(negedge clock); {count,load,s1,s2,s3}= 7'b10000;
repeat(9) @(negedge clock); {count,load,s1,s2,s3}= 7'b10001;
repeat(9) @(negedge clock); {count,load,s1,s2,s3}= 7'b10010;
repeat(9) @(negedge clock); {count,load,s1,s2,s3}= 7'b10011;
repeat(9) @(negedge clock); {count,load,s1,s2,s3}= 7'b10100;
repeat(9) @(negedge clock); {count,load,s1,s2,s3}= 7'b10101;
repeat(9) @(negedge clock); {count,load,s1,s2,s3}= 7'b10110;
repeat(9) @(negedge clock); {count,load,s1,s2,s3}= 7'b10111;
repeat(9) @(negedge clock); {count,load,s1,s2,s3}= 7'b11000;
repeat(9) @(negedge clock); {count,load,s1,s2,s3}= 7'b11001;
repeat(9) @(negedge clock); {count,load,s1,s2,s3}= 7'b11010;
repeat(9) @(negedge clock); {count,load,s1,s2,s3}= 7'b11011;
repeat(9) @(negedge clock); {count,load,s1,s2,s3}= 7'b11100;
repeat(9) @(negedge clock); {count,load,s1,s2,s3}= 7'b11101;
repeat(9) @(negedge clock); {count,load,s1,s2,s3}= 7'b11110;
repeat(9) @(negedge clock); {count,load,s1,s2,s3}= 7'b11111;
$stop;
end
endmodule
