
module top1;
reg s1,s2,s3,clock,reset,load,count;
wire timeup;
wire [1:0] L1,L2,L3;
parameter true =1'b1;
parameter false=1'b0;
parameter clock_cycle  = 20;parameter IDLE_CLOCKS  = 2;
parameter clock_width  = clock_cycle/2;
traffic_controller c(reset,s1,s2,s3,clock,L1,L2,L3);
initial 
begin
$display("                           timeup,L1,L2,L3\n");
$monitor($time, "%b, %b,%b,%b",timeup,L1,L2,L3);
end

//clock

initial
begin
clock=false;
forever #clock_width clock=(~clock);
end

initial
begin
reset= true;
repeat (IDLE_CLOCKS) @(negedge clock);
reset=false;
end

initial
begin
repeat(9) @(negedge clock); {reset,count,load,s1,s2,s3}= 6'b00000;
repeat(9) @(negedge clock); {reset,count,load,s1,s2,s3}= 6'b00001;
repeat(9) @(negedge clock); {reset,count,load,s1,s2,s3}= 6'b00010;
repeat(9) @(negedge clock); {reset,count,load,s1,s2,s3}= 6'b00011;
repeat(9) @(negedge clock); {reset,count,load,s1,s2,s3}= 6'b00100;
repeat(9) @(negedge clock); {reset,count,load,s1,s2,s3}= 6'b00101;
repeat(9) @(negedge clock); {reset,count,load,s1,s2,s3}= 6'b00110;
repeat(9) @(negedge clock); {reset,count,load,s1,s2,s3}= 6'b00111;
repeat(9) @(negedge clock); {reset,count,load,s1,s2,s3}= 6'b01000;
repeat(9) @(negedge clock); {reset,count,load,s1,s2,s3}= 6'b01001;
repeat(9) @(negedge clock); {reset,count,load,s1,s2,s3}= 6'b01010;
repeat(9) @(negedge clock); {reset,count,load,s1,s2,s3}= 6'b01011;
repeat(9) @(negedge clock); {reset,count,load,s1,s2,s3}= 6'b01100;
repeat(9) @(negedge clock); {reset,count,load,s1,s2,s3}= 6'b01101;
repeat(9) @(negedge clock); {reset,count,load,s1,s2,s3}= 6'b01110;
repeat(9) @(negedge clock); {reset,count,load,s1,s2,s3}= 6'b01111;
repeat(9) @(negedge clock); {reset,count,load,s1,s2,s3}= 6'b10000;
repeat(9) @(negedge clock); {reset,count,load,s1,s2,s3}= 6'b10001;
repeat(9) @(negedge clock); {reset,count,load,s1,s2,s3}= 6'b10010;
repeat(9) @(negedge clock); {reset,count,load,s1,s2,s3}= 6'b10011;
repeat(9) @(negedge clock); {reset,count,load,s1,s2,s3}= 6'b10100;
repeat(9) @(negedge clock); {reset,count,load,s1,s2,s3}= 6'b10101;
repeat(9) @(negedge clock); {reset,count,load,s1,s2,s3}= 6'b10110;
repeat(9) @(negedge clock); {reset,count,load,s1,s2,s3}= 6'b10111;
repeat(9) @(negedge clock); {reset,count,load,s1,s2,s3}= 6'b11000;
repeat(9) @(negedge clock); {reset,count,load,s1,s2,s3}= 6'b11001;
repeat(9) @(negedge clock); {reset,count,load,s1,s2,s3}= 6'b11010;
repeat(9) @(negedge clock); {reset,count,load,s1,s2,s3}= 6'b11011;
repeat(9) @(negedge clock); {reset,count,load,s1,s2,s3}= 6'b11100;
repeat(9) @(negedge clock); {reset,count,load,s1,s2,s3}= 6'b11101;
repeat(9) @(negedge clock); {reset,count,load,s1,s2,s3}= 6'b11110;
repeat(9) @(negedge clock); {reset,count,load,s1,s2,s3}= 6'b11111;
$stop;
end
endmodule
